<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
        colors="true"
        verbose="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="false"
        cacheResult ="false">
    <testsuites>
        <testsuite name="Test suite">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
