<?php

if (strpos(__DIR__, 'vendor-no-composer') !== false) {
    /** E_USER_DEPRECATED does not work */
    trigger_error('Using file vendor-no-composer/autoload.php is deprecated. Use vendor-mmlc/autoload.php instead.', E_USER_NOTICE);
}

$rth_class = '\Composer\Autoload\ClassLoader';

if (!class_exists($rth_class, false)) {
    require_once DIR_FS_DOCUMENT_ROOT . '/vendor/composer/ClassLoader.php';
}

$loader = new \Composer\Autoload\ClassLoader();
{VENDOR_PSR4_NAMESPACE_MAPPINGS}
$loader->register();
