body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

.content {
    -margin-left: auto;
    -margin-right: auto;
    margin-top: 90px;
    margin-bottom: 30px;
    -max-width: 1100px;
}

.modules .category {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    margin-bottom: 8em;
}

.modules .category .card .card-body {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.modules .category .card .card-title {
    display: inline-block;
}

.modules .category .card .card-compatibility {
    color: var(--gray);

    cursor: help;
}

.modules .category .card .card-compatibility::after {
    display: none;
    content: attr(data-tooltip);
    padding: 0.375rem 0.75rem;
    max-width: 60ch;

    position: absolute;

    font-size: 0.8rem;
    border-radius: 0.25rem;

    color: var(--light);
    background-color: var(--dark);
}

.modules .category .card .card-compatibility:hover::after {
    display: block;
}

.modules .category .card .card-version {
    display: inline-block;
    color: var(--gray);
}

.modules .category .card .module-price {
    font-size: 1.25em;
    color: var(--blue);
}

.modules .category .card .card-text {
    flex: 1 1 auto;

    margin-top: 0.75em;
    max-height: 4.4em;
    overflow: hidden;
}

.modules .category .card .card-img-top {
    display: block;
    padding: 40px;
    width: auto;
    height: 64px;
    margin: auto;

    box-sizing: content-box;
}

.modules .category .card.incompatible .card-img-top {
    transition: filter 0.2s;

    filter: grayscale(100%);
}

.modules .category .card.incompatible:hover .card-img-top {
    filter: grayscale(0%);
}

.navi {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: max-content;
    justify-content: space-between;
    width: 100%;

    position: sticky;
    top: 0px;

    background-color: #32cfff;
    z-index: 1000;
}

.navi ul {
    margin: 0px;
    padding: 0px;
}

.navi ul li {
    display: inline-block;
    padding: 20px;
    color: white;
}

.navi ul li a {
    color: white;
    font-weight:bolder;
    text-decoration: none;
}

.navi ul li a:hover {
    text-decoration: underline;
}

.navi .navi-left {
    display: inline-block;
}

.navi .navi-right {
    display: inline-block;
    float: right;
}

.content h1 {
    -font-weight: normal;
    -border-bottom: 1px solid #cccccc;
}

.moduleinfo h1 {
    font-weight: normal;
    margin-bottom: 20px;
}

.module-listing h1 {
    font-weight: normal;
    border-bottom: 1px solid #cccccc;
    font-size: 2em;
}

.module-listing h2 {
    font-weight: normal;
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-top: 30px;

}

.module-listing .search {
    margin-bottom: 25px;
}

.module-listing .search input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

.signin-frame {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    padding: 30px;
    border-radius: 4px;
    border: 1px solid #32cfff;
}

.signin-frame input[type="text"],
.signin-frame input[type="password"] {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 30px;
    font-size: 16px;
    padding: 12px;
    border: 1px solid #32cfff;
    font-weight: lighter;
    outline: none;
}

.signin-frame input[type="submit"] {
    margin-top: 10px;
    width: 100%;
    color: #32cfff;
    border: 1px solid #32cfff;
    background-color: white;
    height: 50px;
    font: bold 15px arial, sans-serif;
    text-shadow: none;
    cursor: pointer;
}

.signin-frame input[type="submit"]:hover {
    background-color: #32cfff;
    color: white;
}

.content .moduleinfo .moduleinfo-row {
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
}

.content .moduleinfo .moduleinfo-row .info-heading {
    display: inline-block;
    font-weight: bold;
    width: 300px;
    float: left;
}

.content .moduleinfo .moduleinfo-row .info-body {
    padding-left: 300px;
}

.content .moduleinfo .moduleinfo-images {
    -border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
    -margin-bottom: 20px;
}

.content .moduleinfo .moduleinfo-images img {
    -width: 300px;
    width: 100%;
    border: 1px solid #cccccc;
}

.content .moduleinfo .module-icon img {
    float: left;
    margin-right: 10px;
    height: 32px;
    margin-top: 8px
}

.moduleinfo .button {
    margin: 0px;
    margin-right: 10px;
}

.content .moduleinfo .moduleinfo-buttons {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
}

.moduleinfo-row {
    line-height: 22px;
}

.moduleinfo-row ul {
    /* padding-left: 0px; */
}

.moduleinfo-row li {
    /* margin-bottom: 10px; */
}

.moduleinfo-row code {
    font-weight: bold;
}

.moduleinfo-row i {
    font-weight: bold;
}

.markdown h1 {
    border: none;
}

.markdown h2 {
    font-weight: normal;
    margin-top: 60px;
}

.markdown h3 {
    font-weight: normal;
    margin-top: 40px;
}

.markdown.changelog h3 {
    font-weight: bold;
    margin-top: 16px;
    font-size: 18px;
}

.markdown h4 {
    font-weight: normal;
    margin-top: 30px;
}

.markdown hr {
    margin: 40px 0px 40px;
    border: none;
    border-top: 1px dashed #cccccc;
    height: 0px;
    background-color: none;
}

.markdown table {
  border-collapse: collapse;
}

.markdown table, .markdown th, .markdown td {
  border: 1px solid #bbbbbb;
  padding: 5px;
}

.tab-pane {
    padding: 10px 0px 10px 40px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #32cfff;
}

.infos .table-sm td {
    border: none;
}

pre code {
    background: #eeeeee;
    display: block;
    padding: 15px;
    margin: 20px 0px;
}


.support h3 {
    margin-top: 50px;
    font-size: 24px;
}

/**
 * Responsive
 */
@media(max-width: 1140px) {
    .navi {
        grid-template-columns: max-content;
        justify-content: flex-start;
    }
}

@media(max-width: 768px) {
    .modules .category {
    	grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 512px) {
    .modules .category {
    	grid-template-columns: repeat(1, 1fr);
    }
}
