:root {
    --gutter: 20px;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

.content {
    max-width: 1100px;

    margin: var(--gutter) auto;
    padding: 0 var(--gutter);

    box-sizing: content-box;
}

.modules .category {
    display: grid;
    grid-gap: var(--gutter);
    grid-template-columns: repeat(3, 1fr);

    margin-bottom: 8em;
}

.modules .category .card .card-body {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.modules .category .card .card-title {
    display: inline-block;
}

.modules .category .card .card-compatibility {
    color: var(--gray);

    cursor: help;
}

.modules .category .card .card-compatibility::after {
    display: none;
    content: attr(data-tooltip);
    padding: 0.375rem 0.75rem;
    max-width: 60ch;

    position: absolute;

    font-size: 0.8rem;
    border-radius: 0.25rem;

    color: var(--light);
    background-color: var(--dark);
}

.modules .category .card .card-compatibility:hover::after {
    display: block;
}

.modules .category .card .card-version {
    display: inline-block;
    color: var(--gray);
}

.modules .category .card .module-price {
    font-size: 1.25em;
    color: var(--blue);
}

.modules .category .card .card-text {
    flex: 1 1 auto;

    margin-top: 0.75em;
    max-height: 4.4em;
    overflow: hidden;
}

.modules .category .card .card-img-top {
    display: block;
    padding: 40px;
    width: auto;
    height: 64px;
    margin: auto;

    box-sizing: content-box;
}

.modules .category .card.incompatible .card-img-top {
    transition: filter 0.2s;

    filter: grayscale(100%);
}

.modules .category .card.incompatible:hover .card-img-top {
    filter: grayscale(0%);
}


/**
 * Navigation
 */
.navi {
    position: sticky;
    top: 0px;
    padding: 0.2em var(--gutter);

    background-color: #007bff;
    z-index: 1000;
}

.navi .wrapper {
    display: grid;
    grid-template-columns:
        calc(1em + 40px)
        max-content
        auto
        max-content;
    grid-template-rows: max-content;
    align-items: center;

    width: 100%;
    max-width: 1100px;
    margin: auto;

    position: relative;
}

.navi .badge {
    display: none;
}

.navi img {
    max-width: 100%;
    max-height: 100%;
}

.navi ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.navi .menu {
    position: relative;

    height: 100%;
}

.navi .menu ul {
    display: none;
}

.navi .menu picture {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 100%;

    filter: invert(100%);
}

.navi .menu picture > * {
    transition: transform 0.4s;
}

.navi .menu:hover picture > * {
    transform: rotate(45deg);
}

.navi .menu:hover ul {
    display: block;
}

.navi .menu ul.menu-items {
    position: absolute;
    right: 0;

    width: auto;

    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #007bff;
}

.navi ul li {
    color: white;
}

.navi ul li a {
    display: block;
    padding: var(--gutter);

    color: white;
    font-weight:bolder;
    text-decoration: none;
}

.navi ul li a:hover {
    text-decoration: underline;
}

.moduleinfo h1 {
    font-weight: normal;
    margin-bottom: var(--gutter);
}

.module-listing h1 {
    font-weight: normal;
    border-bottom: 1px solid #cccccc;
    font-size: 2em;
}

.module-listing h2 {
    font-weight: normal;
    font-size: 1.5em;
    margin-bottom: var(--gutter);
    margin-top: var(--gutter);

}

.module-listing .search {
    margin-bottom: 25px;
}

.module-listing .search input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

.signin-frame {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    padding: var(--gutter);
    border-radius: 4px;
    border: 1px solid #32cfff;
}

.signin-frame input[type="text"],
.signin-frame input[type="password"] {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-top: 6px;
    margin-bottom: var(--gutter);
    font-size: 16px;
    padding: 12px;
    border: 1px solid #32cfff;
    font-weight: lighter;
    outline: none;
}

.signin-frame input[type="submit"] {
    margin-top: 10px;
    width: 100%;
    color: #32cfff;
    border: 1px solid #32cfff;
    background-color: white;
    height: 50px;
    font: bold 15px arial, sans-serif;
    text-shadow: none;
    cursor: pointer;
}

.signin-frame input[type="submit"]:hover {
    background-color: #32cfff;
    color: white;
}

.content .moduleinfo .moduleinfo-row {
    padding-bottom: var(--gutter);
    border-bottom: 1px solid #cccccc;
    margin-bottom: var(--gutter);
}

.content .moduleinfo .moduleinfo-row .info-heading {
    display: inline-block;
    font-weight: bold;
    width: 300px;
    float: left;
}

.content .moduleinfo .moduleinfo-row .info-body {
    padding-left: 300px;
}

.content .moduleinfo .moduleinfo-images {
    -border-bottom: 1px solid #cccccc;
    padding-bottom: var(--gutter);
    -margin-bottom: var(--gutter);
}

.content .moduleinfo .moduleinfo-images img {
    -width: 300px;
    width: 100%;
    border: 1px solid #cccccc;
}

.content .moduleinfo .module-icon img {
    float: left;
    margin-right: 10px;
    height: 32px;
    margin-top: 8px
}

.moduleinfo .button {
    margin: 0px;
    margin-right: 10px;
}

.content .moduleinfo .moduleinfo-buttons {
    margin-bottom: var(--gutter);
    padding-bottom: var(--gutter);
    border-bottom: 1px solid #cccccc;
}

.moduleinfo-row {
    line-height: 22px;
}

.moduleinfo-row code {
    font-weight: bold;
}

.moduleinfo-row i {
    font-weight: bold;
}

.markdown h1 {
    border: none;
}

.markdown h2 {
    font-weight: normal;
    margin-top: 60px;
}

.markdown h3 {
    font-weight: normal;
    margin-top: 40px;
}

.markdown.changelog h3 {
    font-weight: bold;
    margin-top: 16px;
    font-size: 18px;
}

.markdown h4 {
    font-weight: normal;
    margin-top: var(--gutter);
}

.markdown hr {
    margin: 40px 0px 40px;
    border: none;
    border-top: 1px dashed #cccccc;
    height: 0px;
    background-color: none;
}

.markdown table {
  border-collapse: collapse;
}

.markdown table, .markdown th, .markdown td {
  border: 1px solid #bbbbbb;
  padding: 5px;
}

.tab-pane {
    padding: 10px 0px 10px 40px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #32cfff;
}

.infos .table-sm td {
    border: none;
}

pre code {
    background: #eeeeee;
    display: block;
    padding: 15px;
    margin: var(--gutter) 0px;
}


.support h3 {
    margin-top: 50px;
    font-size: 24px;
}

/**
 * Responsive
 */
@media(max-width: 1024px) {
    .navi .wrapper {
    	grid-template-columns:
            calc(1em + 40px)
            auto
            min-content
            max-content;
    }

    .navi ul.row {
        flex-wrap: nowrap;
    	justify-content: space-around;
    }

    .navi ul.navi-main li a {
    	padding: 0;
    }

    .modules .category {
    	grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 768px) {
    .navi {
        position: static;

        padding: var(--gutter);
    }

    .navi ul.row {
    	display: block;
    }

    .navi ul li a,
    .navi ul.navi-main li a {
    	padding: var(--gutter) 0;
    }

    .navi .menu .menu-icon {
        display: none;
    }

    .navi .menu .menu-items {
        display: block;

        position: static;
    }

    .navi .wrapper {
    	grid-template-columns: auto;
        grid-template-rows:
            64px
            max-content
            min-content
            max-content;
        align-items: unset;
        justify-content: unset;
    }

    .modules .category {
    	grid-template-columns: repeat(1, 1fr);
    }
}
